.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
  padding-top: 100px;
}

.login__logo {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100px;
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
}

.login__container {
  width: 300px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid lightgray;
}

.login__container > h1 {
  font-weight: 500;
  margin-bottom: 20px;
}

.login__container > form > h5 {
  margin-bottom: 5px;
}

.login__container > form > input {
  width: 98%;
  height: 30px;
  background-color: #ffffff;
  margin-bottom: 10px;
}

.login__container > p {
  margin-top: 15px;
  font-size: 12px;
}
.login__signInButton {
  background: #ed893e;
  border-radius: 2px;
  width: 100%;
  height: 30px;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #fff;
  cursor: pointer;
}

.login__registerButton {
  border-radius: 2px;
  width: 100%;
  height: 30px;
  border: 1px solid;
  margin-top: 10px;
  border-color: darkgray;
  color: #111;
  cursor: pointer;
}
